## Regex with Pandas

***Question:*** Load the .csv file 'sample.csv' and fill in the blanks. 'sample.csv' contains phone number and email address of members of a team.

In [ ]:
#import Pandas
import pandas as pd
# Load the sample.csv file

df = pd.read_csv('sample.csv')

In [ ]:
# This is how the data looks like
df

,Name,Phone Number,Email ID
0,Onur,'Primary:201-5551234;Secondary:555-555-5555‚Äô,onur@hsts.com
1,Hersh,'908-5551234‚Äô,hersh@hsts.com
2,Dhiksha,'+22-102-5554321‚Äô,dhiksha@hsts.com
3,Arman,'Primary:973-5551234555;Seconday:323-232323‚Äô,arman@hsts.com
4,Pedro,'Primary:+22-5551234567;Secondary:+22-55576543...,pedro@hsts.com

***Question1:*** Fill in the blanks so that we can extract only Argentina Phone numbers with ISD codes.
Note:
- I made up international code +22 for Argentina.

In [ ]:
# Enter the regex to create the column 'Argentina_Number' and store only the number
# Result should look like below
argentina_numbers = df['Phone Number'].str.extractall(r"\+22-(?P<Argentine_Number>[\d\-]+)")
argentina_numbers

        Argentine_Number
  match
2 0          102-5554321
4 0           5551234567
  1           5557654321

***Question2:*** Fill in the blanks so that we filter the Argentina numbers for only the valid Arg numbers.
Note:
- A valid argentinian number has 10 digits

In [ ]:
# Enter the regex to filter the argentiinian_numbers data frame for only valid numbers
# Result should look like below
argentina_numbers[argentina_numbers['Argentine_Number'].str.count(r'\d')==10]

        Argentine_Number
  match
2 0          102-5554321
4 0           5551234567
  1           5557654321

***Question3:*** Fill in the blanks so that we extract the email username from the email ID column and store it into a separate column called 'Username'.
Note:
- For eg.: If the email ID is xyz@abc.com, create a column called 'Username' and store xyz in that

In [ ]:
# Enter the regex to extract the username from email ID
# Your output should look like the below
df['Email ID'].str.extractall(r'(?P<Username>.+)@')

        Username
  match
0 0         onur
1 0        hersh
2 0      dhiksha
3 0        arman
4 0        pedro

***Question4*** Fill in the blanks so that we extract the email domain from the email ID column and store it into a separate column called 'Domain'.
Note:
- For eg.: If the email ID is xyz@abc.com, create a column called 'Domain' and store abc in that

In [ ]:
# Enter the regex to extract the domain from email ID
# Your output should look like the below
df['Email ID'].str.extractall(r'@(?P<Domain>\w+)\.')

        Domain
  match
0 0       hsts
1 0       hsts
2 0       hsts
3 0       hsts
4 0       hsts

***Question5*** Fill in the blanks so that we extract the primary non Argentinian numbers(without ISD code) with column name 'Primary_Number'.Non-Argentinian numbers have ISD code not equal to +22. For eg.: If a person has two numbers, Primary:+22-7879678433 and Secondary:+1-7584732222, the primary non-Argentinian number will be +1-7584732222.If a person has only one number then that should only be checked for being non-Argentinian or not. If a person has two numbers, Primary:+2-7846578911, Secondary:+1-2345657811, the primary non-Argentinian number will be +22-7846578911. If a person has two numbers, Primary:+1-3456712345, Secondary:+22-9876572345, the primary non-Argentinian number will be +1-3456712345.
Note:
- Observe that in the data, we have the numbers ordered, with primary numbers always before secondary numbers
- Do not bother if the number is not valid(count of digits not equal to 10)

In [ ]:
# Enter the regex to extract the non-Argentinian primary phone number from the Phone Number column without the ISD codes
# Your output should look like the below
df['Phone Number'].str.extract(r'(?<!\+91)-(?P<Primary_Number>\d+)')

  Primary_Number
0        5551234
1        5551234
2            102
3     5551234555
4     5551234567